.contact-box{
    margin-top: 10vw;
}

.contact-header{
    padding: 2rem;
    background-color: rgba(15, 54, 95, 0.9);
    display: grid;
    grid-template-columns: 50% auto;
}

.contact-header img{
    width: 12vw;
    min-height: 12vw;
    border-radius: 50%;
}

.contact-header > p{
    font-size: 2.8vw;
    margin: auto 0;
    color: white;
}

.founders{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.founder2{
    margin-top: 4vw;
}

.founder3{
   margin-top: 8vw;;
}

.about-content{
    margin: 0 4%;
}

.about-content > h1{
    text-align: center;
    margin: 2rem 0 0 0;
}

.about-content p{
    min-width: 100%;
    margin: 1rem 0;
    text-align: justify;
    font-size: 17px;
    line-height: 2rem;
}


.team{
    margin: 0 4%;
}

.team > h1{
    text-align: center;
    margin: 4rem 0;
}

.members{
    display: flex;
    flex-wrap: wrap;
    gap:4rem;
    justify-content: space-evenly;
}

.member{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    min-width: 250px;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    height: 300px;
}

.member-head{
    position: relative;
    background-color: rgb(8, 50, 95);
    min-height: 2rem;
    border-radius: 10px 10px 0 0;
}

.member img{
    position: absolute;
    width: 10rem;
    min-height: 10rem;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 3px;
    background-color: rgba(68, 114, 163, 0.726);
    margin-top: 1rem;
}

.member-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


@media only screen and (max-width: 600px){
    .contact-box{
        margin-top: 18vw;
    }
    
    .contact-header{
        display: flex;
        flex-direction: column;
        gap: 8vw;
    }

    
    .contact-header img{
        width: 20vw;
        min-height: 20vw;
    }

    .contact-header > p{
        font-size: 1.5rem;
        text-align: center;
    }

    .founders{
        gap: 1rem;
        justify-content: space-evenly;
    }

    .founders1, .founder2, .founder3{
        margin: 0;
    }
}


