*{
    box-sizing: border-box;
}

.footer-box{
    display: grid;
    grid-template-rows: 25vw 43vw;
    height: 26vw;
    margin: 1rem;
}

.footer1{
    display: grid;
    grid-template-columns: 50% auto;
    background: rgba(26, 56, 88, 0.9);
    gap: 6vw;
    margin-top: 1rem;
}

.footer_left{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 2vw 0 2vw 0vw;
    gap: 2vw;
    margin: 0 0 0 8vw;
}

.footer_left .left img{
    width: 18vw;
    height: auto;
}

/* logo bottom p */

.footer_left .left p{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1.2vw;
    color: #FFFFFF;
    text-align: left;
}

/* Company */
.footer_left .right p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    color: #FFFFFF;
    margin: 3vw 0 1vw 0;
    
}

/* Company list */
.footer_left .right ul{
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}

.footer_left .right ul li .link{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1vw;
    color: #FFFFFF;
    margin-left: 1vw;
    padding: 0; 
    display: block;
}

/* Footer right side */
.footer_right{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2vw 0;
    margin: 3vw 0;
}

.contact_title{
    margin: 0 0 1.5vw 0;
}

.footer_contact{
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}

.footer_list{
    display: flex;
    gap: 1vw;
}

.contacts_icon{
    width: 1.5vw;
    height: auto;
}

.footer_right_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.contacts_p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: #FFFFFF;
}

.payment_icons{
    display: flex;
    gap: 0.8vw;
    align-items: center;
    margin: 0.5vw 0 0 1vw;
}

.payment_icon{
    max-width: 2vw;
    height: auto;
    display: flex;
    align-items: center;
}

.follow{
    margin: 5vw 0 0 0;
}

.follow_icons{
    display: flex;
    gap: 0.8vw;
    margin: 0.5vw 0 0 1vw;
}

.follow_icon{
    max-width: 2vw;
    height: auto;
}





.footer2{
    background: #1A3858;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    min-height: 2rem;
}

.copyright{
    width: 1.3vw;
    height: auto;
}

.footer2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: #FFFFFF;
}


@media only screen and (max-width: 600px){
    .footer1{
        display: inline-block;
        background: rgba(26, 56, 88, 0.9);
        gap: 0;
        margin-top: 0.5rem;
    }

    .footer_left{
        grid-template-columns: 50% 40%;
        padding: 4vw 0;
        margin-bottom: 0;
        gap: 8vw;
    }

    .footer_left .left img{
        width: 30vw;
        height: auto;
    }

    .footer_left .left p{
        font-size: 2.5vw;
    }

    .footer_left .right p{
        font-size: 3vw;
    }

    
    /* Company list */
    .footer_left .right ul{
        gap: 1.8vw;
    }

    .footer_left .right ul li .link{
        font-size: 2.3vw;
        margin-left: 2vw;
    }

    .footer_right{
        grid-template-columns: 56% 40%;
        padding: 1vw 4vw;
        margin: 0 0 2vw 0;
        gap: 7vw;
    }

    .footer_contact{
        gap: 1.8vw;
        margin-left: 2vw;
    }

    .footer_list{
        gap: 2.2vw;
    }

    .contacts_icon{
        width: 4vw;
    }

    .footer_right_title{
        font-size: 3vw;
    }

    .contacts_p{
        font-size: 2.3vw;
    }

    .left1{
        margin-left: 4vw;
    }

    
    .payment_icons{
        display: flex;
        gap: 1.7vw;
    }
    
    .payment_icon{
        max-width: 20rem;
        height: auto;
        margin: 0.5vw 0 0 1vw;
    }
    
    .follow{
        margin: 5vw 0 0 0;
    }
    
    .follow_icons{
        gap: 2vw;
        margin: 1.7vw 0 0 2.2vw;
    }
    
    .follow_icon{
        max-width: 20rem;
        height: auto;
    }



    
    .footer2{
        height: 6vw;
    }
    
    .copyright{
        width: 3.3vw;
        height: auto;
    }

    .footer2 p{
        font-size: 3vw;
    }
}